{% extends "base.html" %}

{% block main_content %}
<div id="login">
  <form id="change-password" method="POST">
    <div class="control-group">
      <input type="password" name="password" class="required" autofocus="true" placeholder="{{_('password')}}" />
    </div>
    <div class="control-group">
      <input type="password" name="password_confirm" class="required" placeholder="{{_('password (confirm)')}}" />
    </div>
    <div class="controls">
      <input type="submit" class="btn btn-large btn-primary" value="{{_('Save')}}" />
      <a href="{{url_for('admin.index')}}" class="btn btn-large btn-secondary">{{_('Cancel')}}</a>
    </div>
  </form>
</div>
<script type="text/javascript">
  $(function(){
    $("form#change-password").validate();
  });
</script>
{% endblock %}
