{% extends 'admin/base.html' %}

{% block admin_content %}
<div>
  <table class="table table-striped table-bordered">
    {% if events %}
    <thead>
      <tr>
        <th>{{_('Date')}}</th>
        <th>{{_('Status')}}</th>
        <th>{{_('Client')}}</th>
        <th>{{_('Check')}}</th>
        <th><span class="hidden-phone">{{_('Occurrences')}}</span><span class="visible-phone">#</span></th>
        <th class="hidden-phone hidden-tablet">{{_('Output')}}</th>
        <th></th>
      </tr>
    </thead>
    {% endif %}
    {% for event in events %}
    <tr>
        <td width="10%">{{event.issued|date_from_timestamp}}</td>
        <td>{{event.status|sensu_status_name}}</td>
        <td>{{event.client}}</td>
        <td>{{event.check}}</td>
        <td>{{event.occurrences}}</td>
        <td class="hidden-phone hidden-tablet">{{event.output.replace('\t', ' ')}}</td>
        <td width="5%">
          <a class="btn-resolve-event" rel="tooltip" title="{{_('Resolve')}}" data-client="{{event.client}}" data-check="{{event.check}}"><i class="icon-ok"></i></a>
          <a class="btn-stash-event" rel="tooltip" title="{{_('Stash')}}" data-client="{{event.client}}" data-check="{{event.check}}"><i class="icon-list-alt"></i></a>
        </td>
    </tr>
    {% else %}
    <tr><td>{{_('There are no events.')}}</td></tr>
    {% endfor %}
  </table>
</div>

<script type="text/javascript">
  $("a.btn-resolve-event").click(function(){
    if (confirm("{{_('Resolve check?')}}")) {
      var data = {
        "client": this.getAttribute('data-client'),
        "check": this.getAttribute('data-check'),
      }
      $.ajax({
        type: 'POST',
        url: '{{sensu_api_url}}/event/resolve',
        contentType: 'application/json',
        data: JSON.stringify(data),
        success: function() {
          // redirect
          window.location.replace("{{url_for('admin.events')}}");
        },
        error: function() {
          // sensu returns a 202 which jquery apparently doesn't mark as "success"
          // redirect anyway
          window.location.replace("{{url_for('admin.events')}}");
        }
      });
    }
  });
  $("a.btn-stash-event").click(function(){
    if (confirm("{{_('Stash event?')}}")) {
      var data = {
        "client": this.getAttribute('data-client'),
        "check": this.getAttribute('data-check'),
      }
      var key = 'silence/' + data.client + '/' + data.check;
      var payload = {
        "key": key,
        "description": "Tekken stash"
      }
      $.ajax({
        type: 'POST',
        url: "{{url_for('admin.stash')}}",
        contentType: 'application/json',
        data: JSON.stringify(payload),
        success: function() {
          // redirect
          window.location.replace("{{url_for('admin.index')}}");
        }
      });
    }
  });
  $(function(){
    $("li#admin-nav-events").addClass('active');
  });
</script>
{% endblock %}
